.event-control {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  overflow: auto;

  max-height: 50%;
}

.event-input {
  margin-top: 10px;
  padding: 15px;
  background-color: aliceblue;
  border-color: black;
  font-size: larger;
  animation-name: appear;
  animation-duration: 0.15s;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

::placeholder {
  color: black;
}

.event-btn {
  padding: 15px;
  background-color: rgba(156, 187, 215, 0.31);
  backdrop-filter: blur(20px) saturate(150%);
  border: none;
  margin-top: 10px;
  color: white;
  font-size: larger;

  position: sticky;
  bottom: 0;
}

.event-btn:active {
  background-color: #002e3a;
}

.edit-control {
  display: flex;
  flex-direction: column;
  background-color: rgba(211, 211, 211, 0.3);
  padding: 10px;
  backdrop-filter: blur(20px) saturate(150%);
  width: 30%;
  justify-content: space-between;
  overflow: auto;
}

.edit-delete-control {
  display: flex;
  flex-direction: column;
  background-color: rgba(211, 211, 211, 0.3);
  padding: 10px;
  backdrop-filter: blur(20px) saturate(150%);
  width: 30%;
  overflow: auto;
  /*max-height: 50%;*/
}

.delete-control {
  display: flex;
  justify-content: space-between;
  color: black;
  margin-top: 10px;
  padding: 15px;
  background-color: aliceblue;
}

.delete-control:hover {
  background-color: #d4dae1;
}
